.App{
  text-align: center;
  background-color: beige;
  /* height: 100vh; */
  justify-content: center;
}

body{
  height: 100%;
  background-color: #E9ECEF;
  background-image: url("bgCart.jpg");
  background-size: cover; 
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
}

img{
  background: transparent;
  height: 130px;
  width: 130px;
  position: absolute;
  left: 5px;
  margin-top: 5px;
}

img:hover{
  scale: 1.07;
}
